<section data-ng-controller="HomeController">
	<div class="jumbotron text-center" style="margin-top: 50px; background: #111111">
		<div class="row" style="text-align: right;">
			<div class="col-md-6 col-md-offset-6 col-sm-6 col-sm-offset-6 col-xs-12">
                <h1>evgroio</h1>
			</div>
			<div>
				<ul id="scene"
				data-calibrate-x="false"
			  data-calibrate-y="true"
			  data-invert-x="false"
			  data-invert-y="true"
			  data-limit-x="2000"
			  data-limit-y="10"
			  data-scalar-x="50"
			  data-scalar-y="50"
			  data-friction-x="0.2"
			  data-friction-y="0.8"
			  data-origin-x="0.0"
			  data-origin-y="1.0">
				  <li class="layer" data-depth="0.00">
						<div></div>
					</li>
				  <li class="layer physicContent" data-depth="0.20">
						<div></div>
					</li>
				  <li class="layer emotionContent" data-depth="0.40">
						<div></div>
					</li>
				  <li class="layer academicContent" data-depth="0.60">
						<div></div>
					</li>
				  <li class="layer communeContent" data-depth="0.80">
						<div></div>
					</li>
				  <li class="layer etherContent" data-depth="1.00">
						<div></div>
					</li>
				</ul>
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead" style="margin:30px; text-align: right;">
				An introspective learning tool for educational use!
			</p>
		</div>
		<div class="row">
			<p>
				<a class="pull-right btn btn-success btn-md" href="#!/overview" data-ng-show="authentication.user">Welcome back, {{authentication.user.displayName}}!</a>
				<a class="pull-right btn btn-success btn-md" href="#!/signin" data-ng-hide="authentication.user">Start your growth!</a>
			</p>
		</div>
	</div>
    <br>
    <div class="footer well" style="text-align: center;">
            <a class="pull-left" ng-href="#!/privacy">Privacy Policy</a>
            <a class="pull-right" href="mailto:natebuechler@gmail.com?Subject=Here's some feedback" target="_top">Send me a message!</a>
    </div>



</section>
