<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
                <h1>evgroio</h1>
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead" style="margin:30px;">
				A fun way to track the things you do, learn, and grow. Maybe not forever, but for as long as you want!
			</p>
		</div>
		<div class="row">
			<p>
				<a class="btn btn-success btn-lg" href="#!/overview" data-ng-show="authentication.user">Welcome back, {{authentication.user.displayName}}!</a>
				<a class="btn btn-success btn-lg" href="#!/signin" data-ng-hide="authentication.user">Start your growth!</a>
			</p>
		</div>
	</div>
    <br>
    <div class="row" style="text-align: center;">
        <div class="col-md-12 col-lg-3 well" style="padding: 20px;">
            <a ng-href="#!/privacy">Privacy Policy</a>
        </div>
        <div class="col-md-12 col-lg-6 well" style="padding: 20px;">
            This is a work in progress...
            <a ng-href="http://www.nathanielbuechler.com">I'll put more here eventually.</a>
        </div>
        <div class="col-md-12 col-lg-3 well" style="padding: 20px;">
            <a href="mailto:natebuechler@gmail.com?Subject=Here's some feedback" target="_top">Send me a message!</a>

        </div>
    </div>
</section>
