<section data-ng-controller="OverviewController" data-ng-init="find()">
		<div class="page-header">
        <h1>Overview</h1>
    </div>

		<div id="tabDashboard">

			<div class="col-lg-6">
				<md-content class="md-padding" style="background: #2F2F2F; margin-bottom: 20px;">
					<md-toolbar style="background: #222222; color: #8A9ABE; z-index: 0;">
						<div class="md-toolbar-tools">
							<h2 class="md-flex">Summary</h2>
						</div>
					</md-toolbar>
			    <md-tabs md-dynamic-height style="min-height: 350px; max-height: 350px;" class="md-default" md-selected="activityTabData.selectedIndex" md-align-tabs="{{globalTabAlignment}}">
			      <md-tab id="summaryTabOutline">
			        <md-tab-label>Outline</md-tab-label>
			        <md-tab-body>
								<div class="tabContentOverflow" style="color: white;">
									<!-- Nothing yet -->
									More coming soon!
								</div>
			        </md-tab-body>
			      </md-tab>
			    </md-tabs>
			  </md-content>
			</div>
			<!-- End of tab group -->

			<div class="col-lg-6">
				<md-content class="md-padding" style="background: #2F2F2F; margin-bottom: 20px;">
					<md-toolbar style="background: #EBEB92; color: #222222; z-index: 0;">
						<div class="md-toolbar-tools">
							<h2 class="md-flex">Activities</h2>
						</div>
					</md-toolbar>
			    <md-tabs md-dynamic-height style="min-height: 350px; max-height: 350px;" class="md-default" md-selected="experienceTabData.selectedIndex" md-align-tabs="{{globalTabAlignment}}">
			      <md-tab id="activityTabOutline">
			        <md-tab-label>Outline</md-tab-label>
			        <md-tab-body>
								<div class="tabContentOverflow">
									<div class="list-group">
											<a data-ng-repeat="activity in activities" data-ng-href="#!/activities/{{activity._id}}" class="list-group-item" ng-show="{{(activity.user._id === authentication.user._id)}}">

													<div class="row">
															<div class="col-lg-6">

																	<small class="list-group-item-text">
																			Posted on
																			<span data-ng-bind="activity.created | date:'medium'"></span>
																			by
																			<span data-ng-bind="activity.user.displayName"></span>
																	</small>
																	<h4 class="list-group-item-heading" data-ng-bind="activity.name"></h4>

																	<div class="badge" ng-show="{{(activity.privacy === 0)}}">
																			Private
																	</div>
																	<div class="badge" ng-show="{{(activity.privacy === 1)}}">
																			Public
																	</div>

															<hr>
															<div style="color: white;">
																	{{activity.description}}
															</div>

															</div>


															<div class="col-lg-6">
																	<h4 class="pull-right" style="width: 150px; padding: 30px; text-align: center; margin: 10px; border: solid 2px white;">
																		<i style="font-size: 100px"class="material-icons">trending_up</i>
																			{{activity.importance}}
																	</h4>
															</div>
													 </div>

											</a>
									</div>
								</div>
			        </md-tab-body>
			      </md-tab>
			    </md-tabs>
			  </md-content>
			</div>
			<!-- End of tab group -->

			<div class="col-lg-6">
				<md-content class="md-padding" style="background: #2F2F2F; margin-bottom: 20px;">
					<md-toolbar style="background: #8A9ABE; color: #222222; z-index: 0;">
						<div class="md-toolbar-tools">
							<h2 class="md-flex">Experiences</h2>
						</div>
					</md-toolbar>
			    <md-tabs md-dynamic-height style="min-height: 350px; max-height: 350px;" class="md-default" md-selected="logTabData.selectedIndex" md-align-tabs="{{globalTabAlignment}}">
			      <md-tab id="experienceTabData">
							<md-tab-label>Outline</md-tab-label>
			        <md-tab-body>
								<div class="tabContentOverflow" style="color: white;">
									<!-- Nothing yet -->
									More coming soon!
								</div>
			        </md-tab-body>
			      </md-tab>
			    </md-tabs>
			  </md-content>
			</div>
			<!-- End of tab group -->

			<div class="col-lg-6">
				<md-content class="md-padding" style="background: #2F2F2F; margin-bottom: 20px;">
					<md-toolbar style="background: #EB9292; color: #222222; z-index: 0;">
						<div class="md-toolbar-tools">
							<h2 class="md-flex">Logs</h2>
						</div>
					</md-toolbar>
			    <md-tabs md-dynamic-height style="min-height: 350px; max-height: 350px;" class="md-default" md-selected="summaryTabData.selectedIndex" md-align-tabs="{{globalTabAlignment}}">
						<md-tab id="ideaFluctiationTab">
			        <md-tab-label>Tracking Logs</md-tab-label>
			        <md-tab-body>
								<div class="tabContentOverflow">
									<count-line-chart-viz></count-line-chart-viz>
			        	</div>
							</md-tab-body>
			      </md-tab>
						<md-tab id="logTabOutline">
			        <md-tab-label>Outline</md-tab-label>
			        <md-tab-body>
								<div class="tabContentOverflow">
									<table class="table table-hover table-bordered" style="text-align: center;">
										<thead>
											<tr style="background: #464545;">
												<!-- <th style="text-align: center; color: white;">Log Title</th> -->
												<!-- <th style="text-align: center;">Date</th>-->
												<!-- <th style="text-align: center;"></th> -->
												<th style="text-align: center; background: #56222E">
														<i style="color: white;" class="fa fa-female"></i>
														<i style="color: white;" class="fa fa-male"></i>
												</th>
												<th style="text-align: center; background: #262561">
														<i style="color: white;" class="fa fa-heart"></i>
														<i style="color: white;" class="fa fa-heart-o"></i>
												</th>
												<th style="text-align: center; background: #632F5F">
														<i style="color: white;" class="fa fa-book"></i>
														<i style="color: white;" class="fa fa-picture-o"></i>
												</th>
												<th style="text-align: center; background: #296A52">
														<i style="color: white;" class="fa fa-university"></i>
														<i style="color: white;" class="fa fa-building-o"></i>
												</th>
												<th style="text-align: center; background: #775923">
														<i style="color: white;" class="fa fa-sun-o"></i>
														<i style="color: white;" class="fa fa-globe"></i>
												</th>
												<th style="text-align: center">
														<i style="color: white;" class="fa fa-eye"></i>
														<i style="color: white;" class="fa fa-eye-slash"></i>
												</th>
												<th style="text-align: center; color: white;">Log Link</th>
											</tr>
										</thead>
										<tbody>
											<tr data-ng-repeat="log in logs" ng-show="{{(log.user._id === authentication.user._id)}}">
												<!-- <td class=""> -->
														<!-- Button trigger modal -->
														<!-- Also comes in open('sm'), open(), & open('lg')-->
													<!-- <button class="btn btn-link btn-xs" ng-click="open('sm', log)">{{log.name}}</button> -->
												<!-- </td> -->
			<!--                  <td class="" data-ng-bind="log.created | date:'mediumDate'"></td>-->
												<!-- <td class="" style="width: 1px; background: #464545"></td> -->
												<td style="color: white;">{{log.physicContentLength}}</td>
												<td style="color: white;">{{log.emotionContentLength}}</td>
												<td style="color: white;">{{log.academicContentLength}}</td>
												<td style="color: white;">{{log.communeContentLength}}</td>
												<td style="color: white;">{{log.etherContentLength}}</td>
												<td style="color: white;">
													{{log.privacy === 1 ? 'Public' : 'Private'}}
												</td>
												<td><a data-ng-href="#!/logs/{{log._id}}"><i class="fa fa-file-text"></i>
			</a></td>
											</tr>
										</tbody>
									</table>
								</div>
			        </md-tab-body>
			      </md-tab>
			    </md-tabs>
			  </md-content>
			</div>
			<!-- End of tab group -->




		</div>

        <new-entry-quick></new-entry-quick>

		<div style="margin-bottom: 50px; color: #222">
		.
		</div>

    <div class="text-center footer">
        <div class="text-muted" style="padding: 10px; background: #303030; border: 2px solid #464545; border-left: none; border-right: none;box-shadow: 0px 0px 10px black;">
    	Here's your overview. Think of it as your source of truth. Good luck!
        </div>
    </div>

</section>
