<section data-ng-controller="ExperiencesController">
    <div class="page-header">
        <h1>New Experience</h1>
        <h5>Will the world see this experience?</h5>
        <md-radio-group ng-model="privacy">
          <md-radio-button value="0" class="md-primary">Nope</md-radio-button>
          <md-radio-button value="1">Yup</md-radio-button>
        </md-radio-group>

        <span>
          Every experience is tied to something you've done. That's why you can choose an activity!
        </span>

        <br>

    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>


          <!--
          TODO: Do something with experience data
          -->
            <fieldset>
                <label>
                  <div data-ng-init="findPersonalActivities()">
                      <select class="form-control" ng-options="item as item.name for item in activities track by item._id" ng-model="selectedActivity" required>
                        <option style="color: white;" value="" disabled="">Choose an activity...</option>
                      </select>
                  </div>
                </label>

                <div class="form-group">
                    <label class="control-label" for="name">Experience</label>
                    <div class="controls">
                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="description">What did you do?</label>
                    <div class="controls">
                        <input type="text" data-ng-model="description" id="description" class="form-control" placeholder="Describe it" required>
                    </div>
                </div>

                <!--
                TODO: When the description gets filled out, it changes color based on the word choice related to log entries.
                      Log entries are going to be something like a weekly thing.
                      Or quick 'one-off' things that don't get tied to just one activiy.
                -->

                <hr>
                <div class="form-group">
                    <span>
                      How long was this experience?
                    </span>
                    <div class="row">
                      <div class="col-lg-4">
                        <label class="control-label" for="hours">Hours</label>
                        <div class="controls">
                            <input type="number" data-ng-model="hours" id="hours" class="form-control" placeholder="0" value="0">
                        </div>
                      </div>
                    <div class="col-lg-4">
                      <label class="control-label" for="minutes">Minutes</label>
                      <div class="controls">
                          <input type="number" data-ng-model="minutes" id="minutes" class="form-control" placeholder="0" value="0">
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <label class="control-label" for="seconds">Seconds</label>
                      <div class="controls">
                          <input type="number" data-ng-model="seconds" id="seconds" class="form-control" placeholder="0" value="0">
                      </div>
                    </div>
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" value="New Experience" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>
