<section data-ng-controller="ExperiencesController" data-ng-init="findOne()">
    <div class="page-header">
      <div class="row">
          <div class="col-lg-6 well">
            <div style="text-align: left;">
              <h1>Edit Experience</h1>
              <h5>Will the world see this experience?</h5>
            </div>
            <md-radio-group ng-model="experience.privacy">
              <md-radio-button value="0" class="md-primary">Nope</md-radio-button>
              <md-radio-button value="1">Yup</md-radio-button>
            </md-radio-group>
          </div>
          <!-- <div class="col-lg-3">
          </div> -->
          <div class="col-lg-6">
            <!-- TODO" Add video tutorial? -->

            <div class="panel panel-success">
              <div class="panel-body">
                <h5>
                Experiences are parts of something else, usually with reference in
                time to an activity. Specifically, a person (or maybe a many) did
                something, otherwise you would not be able to write about it!
                </h5>
                <br>

                <span style="color: gray; text-align: right;">
                  Here are a few examples of an experience:
                  <ul>Before thinking, she decided to take a deep breath.
                  <ul>While living, they became very opimistic of the future.
                  <ul>After singing, I felt very accomplished because I learned.
                </span>

              </div>
            </div>

          </div>
      </div>
    </div>
    <md-whiteframe class="md-whiteframe-z2" layout layout-align="center center">
      <form class="form-horizontal" data-ng-submit="update()" novalidate>
        <fieldset>
          <label class="control-label" for="name">Experience</label>

          <hr>

          <div class="row">
                <i class="col-lg-12">
                  <div class="form-group">
                    <div data-ng-init="findTimePrepositions()">
                        <select class="form-control"
                                ng-change="updateName()"
                                style="-webkit-border-radius: 7px;
                                       -moz-border-radius: 7px;
                                       border-bottom: 3px #222222 dotted;
                                       -webkit-appearance: none;
                                       -moz-appearance: none;
                                       appearance: none;
                                       text-align: center;"
                                ng-options="item as item.name for item in timePrepositions track by item._id"
                                ng-model="selectedTime" required>
                          <option style="color: white;" value="" disabled="">Time</option>
                        </select>
                    </div>
                  </div>
                </i>
          <!-- </div> -->
          <!-- <div class="row"> -->
                <i class="col-lg-12">
                  <div class="form-group">
                    <div data-ng-init="findPersonalActivities()">
                        <select class="form-control"
                                ng-change="updateName()"
                                style="-webkit-border-radius: 7px;
                                       -moz-border-radius: 7px;
                                       border-bottom: 3px #222222 dotted;
                                       -webkit-appearance: none;
                                       -moz-appearance: none;
                                       appearance: none;
                                       text-align: center;"
                                ng-options="item as item.name for item in activities track by item._id"
                                ng-model="selectedActivity" required>
                          <option style="color: white;" value="" disabled="">Activity</option>
                        </select>
                    </div>
                  </div>
                </i>
          <!-- </div> -->
          <!-- <div class="row"> -->
                <i class="col-lg-12">
                  <div class="form-group">
                    <div data-ng-init="findPronouns()">
                        <select class="form-control"
                                ng-change="updateName()"
                                style="-webkit-border-radius: 7px;
                                       -moz-border-radius: 7px;
                                       border-bottom: 3px #222222 dotted;
                                       -webkit-appearance: none;
                                       -moz-appearance: none;
                                       appearance: none;
                                       text-align: center;"
                                ng-options="item as item.name for item in pronouns track by item._id"
                                ng-model="selectedPronoun" required>
                          <option style="color: white;" value="" disabled="">Pronoun</option>
                        </select>
                    </div>
                  </div>
                </i>
          <!-- </div> -->
          <!-- <div class="row"> -->
                <i class="col-lg-12">
                  <div class="form-group">
                    <div>
                        <input class="form-control"
                              ng-change="updateName()"
                               style="-webkit-border-radius: 7px;
                               -moz-border-radius: 7px;
                               border-bottom: 3px #222222 dotted;
                               -webkit-appearance: none;
                               appearance: none;
                               text-align: center;
                               background: #62620A;
                               color: white;
                               "
                               type="text"
                               data-ng-model="selectedVerb"
                               id="selectedVerb" class="form-control" placeholder="Past Tense Verb" required>
                    </div>
                  </div>
                </i>
          </div>

          <div class="row">
            <div class="form-group">
                <div class="col-md-12">

                    <label class="control-label" for="description">What happened?</label>
                    <div class="controls">
                        <input type="text" data-ng-model="experience.description" id="description" class="form-control" placeholder="Describe it" required>
                    </div>
                </div>

                <!--
                TODO: When the description gets filled out, it changes color based on the word choice related to log entries.
                      Log entries are going to be something like a weekly thing.
                      Or quick 'one-off' things that don't get tied to just one activiy.
                -->
            </div>
          </div>


        </fieldset>

        <fieldset>
          <div class="row">
            <div class="col-md-12">

                      <hr>
                      <div class="form-group">
                          <span>
                            How long was this experience?
                          </span>
                          <div class="row">
                            <div class="col-lg-4">
                              <label class="control-label" for="hours">Hours</label>
                              <div class="controls">
                                  <input type="number" data-ng-model="hours" id="hours" class="form-control" placeholder="0" min="0" max="100000000" step="10" value="0">
                              </div>
                            </div>
                          <div class="col-lg-4">
                            <label class="control-label" for="minutes">Minutes</label>
                            <div class="controls">
                                <input type="number" data-ng-model="minutes" id="minutes" class="form-control" placeholder="0" min="0" max="60" step="5" value="0">
                            </div>
                          </div>
                          <div class="col-lg-4">
                            <label class="control-label" for="secs">Seconds</label>
                            <div class="controls">
                                <input type="number" data-ng-model="secs" id="secs" class="form-control" placeholder="0" min="0" max="60" step="5" value="0">
                            </div>
                          </div>
                          </div>
                      </div>

                      <hr>

                      <div class="form-group">
                          <input style="color: #FFFFFF; width: 100%;" type="submit" value="Update Experience" class="btn btn-info">
                      </div>
      				<div data-ng-show="error" class="text-danger">
      					<strong data-ng-bind="error"></strong>
      				</div>
            </div>
          </div>
        </fieldset>
      </form>
    </md-whiteframe>
</section>
