<section data-ng-controller="ExperiencesController" data-ng-init="findPublic()">
    <div class="page-header">
        <h1>Public Experiences</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="experience in experiences" data-ng-href="#!/experiences/{{experience._id}}" class="list-group-item">
          <small class="list-group-item-text">
            Posted on
            <span data-ng-bind="experience.created | date:'medium'"></span>
            by
            <span data-ng-bind="experience.user.displayName"></span>
          </small>
          <h4 class="list-group-item-heading" data-ng-bind="experience.name"></h4>

          <h6 style="text-align: right; color: white;" ng-show="{{(experience.user._id === authentication.user._id)}}">
              My Experience
          </h6>

          <!--
          TODO: Add game here.. xp, ask the person to give themselves xp,
                I bet that the person wont lie. And if they do, will they do it
                consistantly.
                Hmm.. maybe they will lie. Figure this out perhaps.
                Machine learning problem...
          -->

        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!experiences.$resolved || experiences.length">
    	No Experiences yet, why don't you <a href="/#!/experiences/create">create one</a>?
    </div>



    <div class="lock-size" layout="row" layout-align="center center">
      <md-fab-speed-dial ng-hide="hidden" md-direction="up" class="md-fling">
        <md-fab-trigger>
          <md-button aria-label="menu" class="md-fab md-warn">
            <md-tooltip md-direction="top">New Entry</md-tooltip>
            <md-icon><i class="material-icons">dashboard</i></md-icon>
          </md-button>
        </md-fab-trigger>

        <md-fab-actions>
          <div ng-repeat="item in items">
            <md-tooltip md-direction="{{item.direction}}">{{item.name}}</md-tooltip>
            <md-button aria-label="{{item.name}}" class="md-fab md-raised" style="background: #00BC8C;" ng-click="changeLocation(item)">
              <i class="material-icons">{{item.icon}}</i>
            </md-button>
          </div>
        </md-fab-actions>
      </md-fab-speed-dial>
    </div>


</section>
