<section data-ng-controller="ExperiencesController" data-ng-init="findOne()">
	<div style="margin-bottom: 100px;">
		<div class="page-header">
			<h1 data-ng-bind="experience.name"></h1>
		</div>
	  <div class="row">
	      <div class="col-lg-9">
	      </div>
	      <div class="col-lg-3" style="text-align: center;">
	          <div data-ng-show="((authentication.user) && (authentication.user._id == experience.user._id))">
								<a href="/#!/experiences">
									<div class="btn btn-inverse" style="width: 100%; background: #111111">
										View my experiences
									</div>
								</a>
	              <br>
	              <br>
	              <a class="btn btn-success" style="width: 100%;" href="/#!/experiences/{{experience._id}}/edit">
	                  <i class="fa fa-pencil-square"></i> Change
	              </a>
	              <br>
	              <br>
	              <a class="btn btn-success" style="width: 100%;" data-ng-click="remove();">
	                  <i class="fa fa-trash"></i> Remove
	              </a>
	          </div>
	      </div>
	  </div>

		<div class="row" style="margin-top: 30px">
				<div class="col-12">
				</div>
		</div>

		<small>
	        <div class="row">
	            <div class="col-lg-9" data-ng-show="((authentication.user) && (authentication.user._id == experience.user._id)) || experience.privacy == 1">
									<div class="col-lg-3">
	                  <div class="row">
	                    <h4 style="margin: auto; width: 150px; padding: 30px; text-align: center; border: solid 2px white;">
												<i style="font-size: 80px"class="material-icons">timer</i>
													{{hours ? hours + 'h' : ''}}
													{{minutes ? minutes + 'm' : ''}}
													{{secs ? secs + 's' : ''}}
													{{minutes ? '' : '0m'}}
													{{secs ? '' : '0s'}}
	                    </h4>
	                  </div>
	                  <br>
	                  <div class="row" style="text-align: center;">
											<em class="text-muted">
	                        Posted on
	                        <span data-ng-bind="experience.created | date:'mediumDate'"></span>
	                        <br>
	                        by
	                        <span data-ng-bind="experience.user.displayName"></span>
	                        <span>
	                          <div ng-if="experience.privacy === 0">
	                          This experience is private.
	                          </div>
	                          <div ng-if="experience.privacy === 1">
	                          This experience is public.
	                          </div>
	                        </span>
	                    </em>
	                  </div>
	                  <br>

	                </div>

	                <div class="col-lg-6">
	                    <div>
	                        <p>
	                            <strong>{{experience.name}}</strong>
	                            <hr>
	                            {{experience.description}}
	                            <hr>
	                        </p>
	                    </div>
	                </div>
	                <div class="col-lg-3">

	                </div>
	            </div>
	        </div>

					<br>

					<div class="row">
						<div class="col-lg-9" data-ng-show="((authentication.user) && (authentication.user._id == experience.firstActivity.user)) || experience.firstActivity.privacy == 1">

							<md-toolbar style="background: #EBEB92; color: #222222; z-index: 0;">
								<div class="md-toolbar-tools">
									<h2 class="md-flex">Activity</h2>
								</div>
							</md-toolbar>
							<md-content layout-padding style="height: auto; max-height: 300px; padding: 24px; background: #333333">
									<h6 style="color: gray; text-align: right;">Just for reference, this is the activity this experience is associated with.</h6>
									<md-list-item class="md-3-line">
										<div class="md-list-item-text">
											<br>
											<h3>
												<a data-ng-href="#!/activities/{{experience.firstActivity._id}}">
													{{ experience.firstActivity.name }}
												</a>
												<span style="color: #444444;">{{' ( Importance - ' + experience.firstActivity.importance + ' )'}}</span>
											</h3>
											<p style="color: white;">
												{{ experience.firstActivity.description}}.
											</p>
											<p style="color: gray;">
												Activity started on {{ experience.firstActivity.created  | date:'mediumDate'}}.
											</p>

										</div>
									</md-list-item>
							</md-content>

						</div>
					</div>

					<div class="row">
						<div class="col-lg-9">
							<md-toolbar style="background: #EB9292; color: #222222; z-index: 0;">
								<div class="md-toolbar-tools">
									<h2 class="md-flex">Logs</h2>
								</div>
							</md-toolbar>
							<md-content layout-padding style="height: auto; max-height: 600px; background: #333333">
								<div data-ng-repeat="log in experience.logsList">
											<a data-ng-href="#!/logs/{{log._id}}" style="text-decoration: none;">
									<md-list-item class="md-3-line" data-ng-show="(((authentication.user) && (authentication.user._id == log.user._id))) || log.privacy == 1">
										<div class="md-list-item-text">
											<h6 style="text-align: right;" data-ng-show="(((authentication.user) && (authentication.user._id == log.user._id)))">
												<div class="badge" data-ng-show="{{(log.privacy === 0)}}">
														Private
												</div>
												<div class="badge" data-ng-show="{{(log.privacy === 1)}}">
														Public
												</div>
											</h6>
												<h3>
														{{ log.name }}
												</h3>
												<div class="" style="text-align: center;">
				                    <span ng-if="log.physicContent.length > 0" class="physicBox globalPadding">.</span>
				                    <span ng-if="log.emotionContent.length > 0" class="emotionBox globalPadding">.</span>
				                    <span ng-if="log.academicContent.length > 0" class="academicBox globalPadding">.</span>
				                    <span ng-if="log.communeContent.length > 0" class="communeBox globalPadding">.</span>
				                    <span ng-if="log.etherContent.length > 0" class="etherBox globalPadding">.</span>
				                </div>
				                <div style="text-align: center;">
													<div ng-show="log.physicContent.length < 1 &&
				                                log.emotionContent.length < 1 &&
				                                log.academicContent.length < 1 &&
				                                log.communeContent.length < 1 &&
				                                log.etherContent.length < 1"
				                                >
				                    <i>No Log Details</i>
				                  </div>
				                  <list-viz></list-viz>
				                </div>
										</div>
									</md-list-item>
											</a>
									<md-divider  data-ng-show="(((authentication.user) && (authentication.user._id == log.user._id))) || log.privacy == 1"></md-divider>
								</div>
								<div ng-show="experience.logsList.length < 1">
									<md-list-item class="md-3-line">
										<div class="md-list-item-text">
											<h3 style="color: gray;">
													No logs for this experience
											</h3>
											<p style="color: white;" ng-show="(authentication.user) && (authentication.user._id == experience.user._id)">
												Why don't you
												<a data-ng-href="#!/logs/create">
													create one
												</a>
												?
											</p>
										</div>
									</md-list-item>
								</div>
							</md-content>
						</div>
					</div>


		</small>
	</div>
	        <new-entry-quick></new-entry-quick>
</section>
