<section data-ng-controller="ExperiencesController" data-ng-init="findOne()">
	<div class="pull-right">
		<a href="/#!/experiences">
			<div class="btn btn-default">
				View my experiences
			</div>
		</a>
	</div>

	<div class="page-header">
		<h1 data-ng-bind="experience.name"></h1>
	</div>

	<div class="row">
      <div class="col-lg-12">
					<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == experience.user._id))">
						<a class="btn btn-info" href="/#!/experiences/{{experience._id}}/edit">
								<i class="fa fa-pencil-square"></i> Change
						</a>
						<a class="btn btn-info" data-ng-click="remove();">
								<i class="fa fa-trash"></i> Remove
						</a>
					</div>
			</div>
	</div>
	<small>
        <div class="row">
            <div class="col-lg-9" data-ng-show="((authentication.user) && (authentication.user._id == experience.user._id)) || experience.privacy == 1">
                <div class="col-lg-3">
                    <h4 class="pull-left" style="padding: 50px;
																								 margin: 50px;
																								 border: 1px gray solid;
																								 color: gray;
																								 text-align: center;">
                        {{hours ? hours + 'h' : ''}}
                        {{minutes ? minutes + 'm' : ''}}
                        {{secs ? secs + 's' : ''}}
                        {{seconds ? '' : '0s'}}
                    </h4>
                </div>
                <div class="col-lg-6">
                    <div>
                        <p>
                            <strong>{{experience.name}}</strong>
                            <hr>
                            {{experience.description}}
                            <hr>
                            <strong>I experienced {{experience.name.toLowerCase()}} while I was {{experience.firstActivity.name.toLowerCase()}}.</strong>
                        </p>
                    </div>
                </div>
                <div class="col-lg-3" style="text-align: right;">
                    <em class="text-muted">
                        Posted on
                        <span data-ng-bind="experience.created | date:'mediumDate'"></span>
                        <br>
                        by
                        <span data-ng-bind="experience.user.displayName"></span>
                        <span>
                          <div ng-if="experience.privacy === 0">
                          This experience is private.
                          </div>
                          <div ng-if="experience.privacy === 1">
                          This experience is public.
                          </div>
                        </span>
                    </em>
                </div>
            </div>
        </div>
        <new-log-quick></new-log-quick>
        <new-experience-quick></new-experience-quick>
	</small>
</section>
