<section data-ng-controller="ActivitiesController" data-ng-init="findOne()">
    <div class="page-header">
      <div class="row">
          <div class="col-lg-6 well">
            <div style="text-align: left;">
              <h1>Edit Activity</h1>
              <h5>Will the world see this activity?</h5>
            </div>
            <md-radio-group ng-model="activity.privacy">
              <md-radio-button value="0" class="md-primary">Nope</md-radio-button>
              <md-radio-button value="1">Yup</md-radio-button>
            </md-radio-group>
          </div>
          <!-- <div class="col-lg-3">
          </div> -->
          <div class="col-lg-6">
            <!-- TODO" Add video tutorial? -->

            <div class="panel panel-success">
              <div class="panel-body">
                <h5>
                A good activity name really ought to be a gerund. Since most
                activities are things you do, you might think of them as things.
                Hence, it makes sense that an activity is a noun made from a verb.
                </h5>
                <br>

                <span style="color: gray; text-align: right;">
                  Here are a few examples of an activity:
                  <ul>Thinking
                  <ul>Living
                  <ul>Singing
                </span>

              </div>
            </div>

          </div>
      </div>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>


            <!--
            TODO: Put these inputs as questions
            1. What is the name of the activity?
            2. How important is this activity compared to other activities, scale 1-100
               -List other activites already created.
               -Maybe data visualization of other activites already created with importance.
               -Maybe data visualization is nightengale graph? Or something else.
            3. Loads page to view reflections about the activity -- see view-activity...html
            4. Make a check to see if actity has already been created.
            -->

            <div class="row">
                <div class="col-lg-3">
                </div>
                <div class="col-lg-6">
                  <md-whiteframe class="md-whiteframe-z2" layout layout-align="center center">
                    <fieldset>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="control-label" for="name">Activity</label>
                                    <div class="controls">
                                      <input type="text" data-ng-model="activity.name" id="name" class="form-control" placeholder="Name" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label class="control-label" for="description">What is this activity?</label>
                                    <div class="controls">
                                      <input type="text" data-ng-model="activity.description" id="description" class="form-control" placeholder="Describe it!" required>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                          <div class="col-lg-12">
                            <div class="form-group">
                              <div flex="10" layout layout-align="center center"><span class="md-body-1">Importance</span></div>
                              <md-slider flex class="md-success" md-discrete ng-model="activity.importance" step="1" min="1" max="100" aria-label="Importance">
                                </md-slider>
                            </div>
                          </div>
                          <div class="col-lg-12" style="text-align: center; min-height: 150px">
                            <h5 for="Importance" style="text-align: center;"></h5>
                            <i style="font-size: 100px"class="material-icons">trending_up</i>
                          </div>
                        </div>

                        <hr>

                        <div class="form-group">
                          <div class="col-lg-12">
                            <input type="submit"
                                   style="color: #222222; width: 100%;"
                                   value="Update Activity" class="btn btn-success">
                          </div>
                        </div>
                        <div data-ng-show="error" class="text-danger">
                            <strong data-ng-bind="error"></strong>
                        </div>
                    </fieldset>
                  </md-whiteframe>
                </div>
                <div class="col-lg-3" style="text-align: center;">
                  <!-- Putting my design hat on. -->
                  <!-- <i style="font-size: 200px;"class="material-icons">accessibility</i> -->
                </div>
            </div>

            <div class="row">
              <!-- TODO: Make this a directive -->
              <div data-ng-init="find()" class="col-lg-12">
                  <hr>
                  <h5>Personal Activities</h5>
                  <div class="list-group" style="height: auto; max-height: 230px; overflow: auto;">
                      <a data-ng-repeat="activity in activities" data-ng-href="#!/activities/{{activity._id}}" class="list-group-item" ng-show="{{(activity.user._id === authentication.user._id)}}">

                          <div class="row">
                              <div class="col-lg-6">

                                  <h6 class="list-group-item-heading" data-ng-bind="activity.name"></h6>

                              </div>


                              <div class="col-lg-3">

                              </div>

                                  <h6 class="pull-right" style="150px; text-align: center; margin: 10px;">
                                      {{activity.importance}}
                                  </h6>
                           </div>

                      </a>
                  </div>
              </div>
            </div>

        </form>
    </div>
</section>
