<section data-ng-controller="ActivitiesController" data-ng-init="findOne()">
  <div class="pull-right">
    <a href="/#!/activities">
      <div class="btn btn-default">
          View my activities
      </div>
    </a>
  </div>

	<div class="page-header">
    <h1 data-ng-bind="activity.name"></h1>
  </div>
  <div class="row">
      <div class="col-lg-12">
          <div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == activity.user._id))">
              <a class="btn btn-info" href="/#!/activities/{{activity._id}}/edit">
                  <i class="fa fa-pencil-square"></i> Change
              </a>
              <a class="btn btn-info" data-ng-click="remove();">
                  <i class="fa fa-trash"></i> Remove
              </a>
          </div>
      </div>
  </div>

    <div class="row" style="margin-top: 30px">
        <div class="col-12">
        </div>
    </div>

	<small>
        <div class="row" style="margin-bottom: 75px">
            <div class="col-lg-9" data-ng-show="(((authentication.user) && (authentication.user._id == activity.user._id))) || activity.privacy == 1">
                <div class="col-lg-3">
                    <h4 class="pull-left" style="padding: 30px; margin: 30px; border: solid 2px white;">
                        {{activity.importance}}
                    </h4>
                </div>
                <div class="col-lg-6">
                    <div>
                        <p>
                            <strong>{{activity.name}}.</strong>
                            <hr>
                            {{activity.description}}
                            <hr>
                            As more information gets collected, this page will get way more interesting! Some exciting visualizations of data as well as more intreactivity will be unlocked, so be patient :D.
                        </p>
                            <hr>
                            <md-toolbar style="background: white; color: #222222">
                              <div class="md-toolbar-tools">
                                <h2 class="md-flex">Experiences</h2>
                              </div>
                            </md-toolbar>
                            <md-content layout-padding style="height: auto; max-height: 300px; padding: 24px; background: #333333">
                              <div data-ng-repeat="experience in activity.experiencesList">
                                <md-list-item class="md-3-line" data-ng-show="(((authentication.user) && (authentication.user._id == experience.user._id))) || experience.privacy == 1">
                                  <div class="md-list-item-text">
                                    <h3>
                                      <a data-ng-href="#!/experiences/{{experience._id}}">
                                        {{ experience.name }}
                                      </a>
                                    </h3>
                                    <p style="color: white;">
                                      {{ experience.description }}
                                    </p>
                                    <h6 style="text-align: right;" data-ng-show="(((authentication.user) && (authentication.user._id == experience.user._id)))">
                                      <div class="badge" data-ng-show="{{(experience.privacy === 0)}}">
                                          Private
                                      </div>
                                      <div class="badge" data-ng-show="{{(experience.privacy === 1)}}">
                                          Public
                                      </div>
                                    </h6>
                                  </div>
                                </md-list-item>
                                <md-divider  data-ng-show="(((authentication.user) && (authentication.user._id == experience.user._id))) || experience.privacy == 1"></md-divider>
                              </div>
                              <div ng-show="activity.experiencesList.length < 1">
                                <md-list-item class="md-3-line">
                                  <div class="md-list-item-text">
                                    <h3 style="color: gray;">
                                        No experiences for this activity
                                    </h3>
                                    <p style="color: white;" ng-show="(authentication.user) && (authentication.user._id == activity.user._id)">
                                      Why don't you
                                      <a data-ng-href="#!/experiences/create">
                                        create one
                                      </a>
                                      ?
                                    </p>
                                  </div>
                                </md-list-item>
                              </div>
                            </md-content>
                    </div>
                </div>
                <div class="col-lg-3" style="text-align: right;">
                    <em class="text-muted">
                        ''{{activity.name}}'<br>posted on
                        <span data-ng-bind="activity.created | date:'mediumDate'"></span>
                        <br>
                        by
                        <span data-ng-bind="activity.user.displayName"></span>
                        <span>
                          <div ng-if="activity.privacy === 0">
                          This activity is private.
                          </div>
                          <div ng-if="activity.privacy === 1">
                          This activity is public.
                          </div>
                        </span>
                    </em>
                </div>
            </div>
            <div data-ng-init="find()" class="col-lg-3">
                <hr>
                <h5>Personal Activities</h5>
                <div class="list-group">
                    <a data-ng-repeat="activity in activities" data-ng-href="#!/activities/{{activity._id}}" class="list-group-item" ng-show="{{(activity.user._id === authentication.user._id)}}">

                        <div class="row">
                            <div class="col-lg-6">

                                <h6 class="list-group-item-heading" data-ng-bind="activity.name"></h6>

                            </div>


                            <div class="col-lg-3">

                            </div>

                                <h6 class="pull-right" style="150px; text-align: center; margin: 10px;">
                                    {{activity.importance}}
                                </h6>
                         </div>

                    </a>
                </div>
            </div>
        </div>
        <new-entry-quick></new-entry-quick>
	</small>
  <div class="text-center footer" data-ng-show="(((authentication.user) && (authentication.user._id == activity.user._id))) || activity.privacy == 1">
      <div class="text-muted" style="padding: 10px; background: #303030; border: 2px solid #464545; border-left: none; border-right: none;box-shadow: 0px 0px 10px black;">
    Here's one of the many things you can do!
      </div>
  </div>
</section>
