<section data-ng-controller="ActivitiesController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="activity.name"></h1>
	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == activity.user._id))">
		<a class="btn btn-info" href="/#!/activities/{{activity._id}}/edit">
			<i class="fa fa-pencil-square"></i> Change
		</a>
		<a class="btn btn-info" data-ng-click="remove();">
			<i class="fa fa-trash"></i> Remove
		</a>
	</div>
	<small>
        <!--TODO: Show only user activities-->
        
        <!--
        Description:
        Loads page to view reflections about the activity
        Visualize post information about activity
        visualize other analytics about activity?
        -->
        
        <div>
            <h4 class="pull-left" style="padding: 30px; margin: 30px; border: solid 2px white;">
                {{activity.importance}}
            </h4>
            <p>
                This is a splash page for <strong>{{activity.name}}.</strong> As more information gets collected, this page will get way more interesting!
            </p>
        </div>
        
		<em class="text-muted">
			Posted on
			<span data-ng-bind="activity.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="activity.user.displayName"></span>
		</em>
	</small>
</section>
