<section data-ng-controller="ActivitiesController" data-ng-init="findOne()">
                <div class="pull-right">
        <a href="/#!/activities">
            <div class="btn btn-default">
                View all activities
            </div>
        </a>   
    </div>
                    
	<div class="page-header">
        <h1 data-ng-bind="activity.name"></h1>
    </div>
                
        <div class="row">
            <div class="col-lg-12">
                <div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == activity.user._id))">
                    <a class="btn btn-info" href="/#!/activities/{{activity._id}}/edit">
                        <i class="fa fa-pencil-square"></i> Change
                    </a>
                    <a class="btn btn-info" data-ng-click="remove();">
                        <i class="fa fa-trash"></i> Remove
                    </a>
                </div>
            </div>
        </div>
    
    <div class="row" style="margin-top: 30px">
        <div class="col-12">
        </div>
    </div>
    
        <!--TODO: Show only user activities-->
        
        <!--
        Description:
        Loads page to view reflections about the activity
        Visualize post information about activity
        visualize other analytics about activity?
        -->

	<small>
        <div class="row">
            <div class="col-lg-3">
                <h4 class="pull-left" style="padding: 30px; margin: 30px; border: solid 2px white;">
                    {{activity.importance}}
                </h4>
            </div>
            <div class="col-lg-6">
                <div>
                    <p>
                        <strong>{{activity.name}}.</strong>
                        <hr>
                        {{activity.description}} 
                        <hr>
                        As more information gets collected, this page will get way more interesting! Some exciting visualizations of data as well as more intreactivity will be unlocked, so be patient :D.
                    </p>
                </div>
            </div>
            <div class="col-lg-3">
                <em class="text-muted pull-right">
                    Posted on
                    <span data-ng-bind="activity.created | date:'mediumDate'"></span>
                    by
                    <span data-ng-bind="activity.user.displayName"></span>
                </em>
            </div>
        </div>
	</small>
</section>
