.ng-invalid.ng-dirty {
	border-color: none;
}
.ng-valid.ng-dirty {
	border-color: none;
}


.box {
    border-radius: 5px;
    width: auto;
    max-width: 225px;
    max-height: 100px;
    z-index: 10;
}

.echoedText {
    font-size: 100px;
    opacity: .15;
    margin-top: -175px;
    max-width: none;
    position: relative;
    z-index: 0;    
}

.editArea {
    border-color: none; 
    resize: none; 
    height: 200px; 
    width: 200px; 
    text-align: center;
}

.logJumbotron {
    background: darkGray;
}

.physicContent {
    border: solid 2px #56222E;
    background: #56222E;
    color: white;
}

.physicFadedContent {
    color: #56222E;
}

.emotionContent {
    border: solid 2px #262561;
    background: #262561;
    color: white;
}

.emotionFadedContent {
    color: #262561;
}

.academicContent {
    border: solid 2px #632F5F;
    background: #632F5F;
    color: white;
}

.academicFadedContent {
    color: #632F5F;
}

.communeContent {
    border: solid 2px #296A52;
    background: #296A52;
    color: white;
}

.communeFadedContent {
    color: #296A52;
}

.etherContent {
    border: solid 2px #775923;
    background: #775923;
    color: white;
}

.etherFadedContent {
    color: #775923;
}


#physicBox {
    border: solid 2px #56222E;
    background: #56222E;
    
    text-align: center;
    
    color: white;
    
    border-radius: 5px;
    

    
}
#emotionBox {
    border: solid 2px #262561;
    background: #262561;
    
    text-align: center;
    
    color: white;
    
    border-radius: 5px;
    

    
}
#academicBox {
    border: solid 2px #632F5F;
    background: #632F5F;
    
    text-align: center;
    
    color: white;
    
    border-radius: 5px;
    

    
}
#communeBox {
    border: solid 2px #296A52;
    background: #296A52;
    
    text-align: center;
    
    color: white;
    
    border-radius: 5px;
    

    
}
#etherBox {
    border: solid 2px #775923;
    background: #775923;
    
    text-align: center;
    
    color: white;
    
    border-radius: 5px;
    
    
}

.marginPaddingBox {
    padding: 10px;
    margin-top: 10px;
}

.globalPadding {
    margin: 10px;
}

/*TODO: Refactor out footer later*/

.listWrapper {
    padding-bottom: 300px;
}

.footer {
    position:fixed;
    left:0px;
    bottom:0px;
    width:100%;
    margin-bottom: 0px;
}

/*TODO: Refactor out D3 styles later*/

text {
  font: 10px sans-serif;
}
