.box {
    border-radius: 5px;
    

    background: lightgray;
}

.logJumbotron {
    background: darkGray;
}

#physicContent {
    border: solid 2px #56222E;
    color: white;
}
#emotionContent {
    border: solid 2px #262561;
    color: white;
}
#academicContent {
    border: solid 2px #632F5F;
    color: white;
}
#communeContent {
    border: solid 2px #296A52;
    color: white;
}
#etherContent {
    border: solid 2px #775923;
    color: white;
}

#physicBox {
    border: solid 2px #56222E;
    background: #56222E;
    
    text-align: center;
    
    color: white;
    
    border-radius: 5px;
    

    
}
#emotionBox {
    border: solid 2px #262561;
    background: #262561;
    
    text-align: center;
    
    color: white;
    
    border-radius: 5px;
    

    
}
#academicBox {
    border: solid 2px #632F5F;
    background: #632F5F;
    
    text-align: center;
    
    color: white;
    
    border-radius: 5px;
    

    
}
#communeBox {
    border: solid 2px #296A52;
    background: #296A52;
    
    text-align: center;
    
    color: white;
    
    border-radius: 5px;
    

    
}
#etherBox {
    border: solid 2px #775923;
    background: #775923;
    
    text-align: center;
    
    color: white;
    
    border-radius: 5px;
    
    
}

.marginPaddingBox {
    padding: 10px;
    margin-top: 10px;
}

.globalPadding {
    margin: 10px;
}

.listWrapper {
    padding-bottom: 300px;
}

.footer {
    position:fixed;
    left:0px;
    bottom:0px;
    width:100%;
    margin-bottom: 0px;
}