<section data-ng-controller="LogsController">
    <div class="page-header" style="border-bottom: none;">
        <h3 class="pull-left" style="text-align: center;"></h3>
        <label class="pull-right" data-ng-bind="log.created | date:'MMMM dd, yyyy'"></label>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()">
            <fieldset>
                <div class="form-group" style="position: relative; z-index: 10; text-align: center; width: 225px;">
                    <label class="control-label" for="name">Reflection Title</label>
                    <div class="controls">
                        <input type="text" data-ng-model="name" id="name" class="form-control" placeholder="Pick a theme!" required>
                    </div>
                </div>
                    <h5>Will the world see this log?</h5>
                    <md-radio-group ng-model="log.privacy">
                      <md-radio-button value="0" class="md-primary">Nope</md-radio-button>
                      <md-radio-button value="1">Yup</md-radio-button>
                    </md-radio-group>

                <br>

                <label>
                  <div data-ng-init="findPersonalExperiences()">
                      <select class="form-control" ng-options="item as item.name for item in experiences track by item._id" ng-model="selectedExperience">
                        <option style="color: white;" value="" disabled="">Is this part of an experience?</option>
                      </select>
                  </div>
                </label>

                <br>
                <br>

                <div id="reflectionZone">
                    <div>
                        <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 box marginPaddingBox physicContent">
                                    <textarea type="text" data-ng-model="physicContent" id="physicContentINPUT" class="editArea form-control" placeholder="Which part(s) of your body did you use?"></textarea>
                                </div>
                                <create-log-viz></create-log-viz>
                            <div class="physicFadedContent echoedText box col-xs-6 col-sm-6 col-md-6 col-lg-6 pull-right">
                                <div>
                                    {{physicContent}}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 box marginPaddingBox emotionContent">
                                    <textarea type="text" data-ng-model="emotionContent" id="emotionContentINPUT" class="editArea form-control" placeholder="How do you feel?"></textarea>
                                </div>
                            <div class="emotionFadedContent echoedText box col-xs-6 col-sm-6 col-md-6 col-lg-6 pull-right">
                                <div>
                                    {{emotionContent}}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 box marginPaddingBox academicContent">
                                    <textarea type="text" data-ng-model="academicContent" id="academicContentINPUT" class="editArea form-control" placeholder="What did you learn?"></textarea>
                                </div>
                            <div class="academicFadedContent echoedText box col-xs-6 col-sm-6 col-md-6 col-lg-6 pull-right">
                                <div>
                                    {{academicContent}}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 box marginPaddingBox communeContent">
                                    <textarea type="text" data-ng-model="communeContent" id="communeContentINPUT" class="editArea form-control" placeholder="Who did you care about?"></textarea>
                                </div>
                            <div class="communeFadedContent echoedText box col-xs-6 col-sm-6 col-md-6 col-lg-6 pull-right">
                                <div>
                                    {{communeContent}}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 box marginPaddingBox etherContent">
                                    <textarea type="text" data-ng-model="etherContent" id="etherContentINPUT" class="editArea form-control" placeholder="Why did this matter?"></textarea>
                                </div>
                            <div class="etherFadedContent echoedText box col-xs-6 col-sm-6 col-md-6 col-lg-6 pull-right">
                                <div>
                                    {{etherContent}}
                                </div>
                            </div>
                        </div>

                    </div>

                <div class="form-group" style="position: relative; z-index: 10; margin-top: 15px; text-align: center; width: 225px;">
                    <input class="btn btn-default btn-lg" type="submit" class="btn btn-default" value="Save Reflection">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>
