<section data-ng-controller="LogsController">
    <div class="page-header" style="border-bottom: none;">
      <div class="row">
          <div class="col-lg-6 well">
            <div style="text-align: left;">
              <h1>New Log</h1>
              <h5>Will the world see this experience?</h5>
            </div>
            <md-radio-group ng-model="log.privacy">
              <md-radio-button value="0" class="md-primary">Nope</md-radio-button>
              <md-radio-button value="1">Yup</md-radio-button>
            </md-radio-group>
          </div>
          <!-- <div class="col-lg-3">
          </div> -->
          <div class="col-lg-6">
            <!-- TODO" Add video tutorial? -->

            <div class="panel panel-success">
              <div class="panel-body">
                <h5>
                Logs are, additional, snapshot-like descriptions of an experience. Sometimes it's not
                always clear which experience it is related to, though, and that's okay! <br>An example log might be something like this:
                </h5>

                <span style="color: gray; text-align: right;">
                  <ul>I decided to listen to her.
                  <ul>I felt very accomplished for the things I said.
                  <ul>I learned that we are both very opimistic of the future.
                  <ul>I cared about her.
                  <ul>I think we both feel better now.
                </span>

              </div>
            </div>

          </div>
      </div>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()">
            <fieldset>
                <div class="row">
                  <div class="col-lg-3">
                    <input class="form-control"
                          ng-change="updateName()"
                           style="-webkit-border-radius: 7px;
                           -moz-border-radius: 7px;
                           border-bottom: 3px #222222 dotted;
                           -webkit-appearance: none;
                           appearance: none;
                           text-align: center;
                           background: #303030;
                           color: white;
                           "
                           type="text"
                           data-ng-model="name"
                           id="name" class="form-control" placeholder="Log Title">
                    </input>
                  </div>

                  <div class="col-lg-9">
                      <div data-ng-init="findPersonalExperiences()">
                          <select class="form-control experienceSelect"
                                  style="-webkit-border-radius: 7px;
                                         -moz-border-radius: 7px;
                                         border-bottom: 3px #222222 dotted;
                                         -webkit-appearance: none;
                                         -moz-appearance: none;
                                         appearance: none;
                                         text-align: center;
                                         color: #222;"
                                   ng-options="item as item.name for item in experiences track by item._id"
                                   ng-model="selectedExperience">
                            <option style="color: white;" value="" disabled="">Is this part of an experience?</option>
                          </select>
                      </div>
                  </div>
                </div>

                <hr>

                <div id="reflectionZone">
                    <div>
                        <div class="row physicContent" style="padding: 30px;">
                          <div class="labelHeading" style="color: white; text-align:right;">
                            <i style="color: white;" class="fa fa-heart"></i>
                            <i style="color: white;" class="fa fa-heart-o"></i>
                          </div>
                          <md-input-container flex>
                            <label class="labelHeading" style="color: #222;">Which decisions did you make?</label>
                            <textarea ng-model="physicContent" columns="1" md-maxlength="10000" style="color: #222;"></textarea>
                          </md-input-container>
                        </div>
                        <div class="row emotionContent" style="padding: 30px;">
                          <div class="labelHeading" style="color: white; text-align:right;">
                            <i style="color: white;" class="fa fa-heart"></i>
                            <i style="color: white;" class="fa fa-heart-o"></i>
                          </div>
                          <md-input-container flex>
                            <label class="labelHeading" style="color: #222;">How did you feel?</label>
                            <textarea ng-model="emotionContent" columns="1" md-maxlength="10000" style="color: #222;"></textarea>
                          </md-input-container>
                        </div>
                        <div class="row academicContent" style="padding: 30px;">
                          <div class="labelHeading" style="color: white; text-align:right;">
                            <i style="color: white;" class="fa fa-book"></i>
                            <i style="color: white;" class="fa fa-picture-o"></i>
                          </div>
                          <md-input-container flex>
                            <label class="labelHeading" style="color: #222;">What did you learn?</label>
                            <textarea ng-model="academicContent" columns="1" md-maxlength="10000" style="color: #222;"></textarea>
                          </md-input-container>
                        </div>
                        <div class="row communeContent" style="padding: 30px;">
                          <div class="labelHeading" style="color: white; text-align:right;">
                            <i style="color: white;" class="fa fa-university"></i>
                            <i style="color: white;" class="fa fa-building-o"></i>
                          </div>
                          <md-input-container flex>
                            <label class="labelHeading" style="color: #222;">Who did you care about?</label>
                            <textarea ng-model="communeContent" columns="1" md-maxlength="10000" style="color: #222;"></textarea>
                          </md-input-container>
                        </div>
                        <div class="row etherContent" style="padding: 30px;">
                          <div class="labelHeading" style="color: white; text-align:right;">
                            <i style="color: white;" class="fa fa-sun-o"></i>
                            <i style="color: white;" class="fa fa-globe"></i>
                          </div>
                          <md-input-container flex>
                            <label class="labelHeading" style="color: #222;">Why did this matter?</label>
                            <textarea ng-model="etherContent" columns="1" md-maxlength="10000" style="color: #222;"></textarea>
                          </md-input-container>
                        </div>
                    </div>

                    <hr>

                <div class="row">
                  <div class="col-lg-3">
                    <input class="form-control"
                          ng-change="updateName()"
                           style="-webkit-border-radius: 7px;
                           -moz-border-radius: 7px;
                           border-bottom: 3px #222222 dotted;
                           -webkit-appearance: none;
                           appearance: none;
                           text-align: center;
                           background: #303030;
                           color: white;
                           "
                           type="text"
                           data-ng-model="name"
                           id="name" class="form-control" placeholder="Log Title" required>
                    </input>
                  </div>

                  <div class="col-lg-9">
                      <div data-ng-init="findPersonalExperiences()">
                          <select class="form-control experienceSelect"
                                  style="-webkit-border-radius: 7px;
                                         -moz-border-radius: 7px;
                                         border-bottom: 3px #222222 dotted;
                                         -webkit-appearance: none;
                                         -moz-appearance: none;
                                         appearance: none;
                                         text-align: center;
                                         color: #222;"
                                   ng-options="item as item.name for item in experiences track by item._id"
                                   ng-model="selectedExperience">
                            <option style="color: white;" value="" disabled="">Is this part of an experience?</option>
                          </select>
                      </div>
                  </div>
                </div>

                <hr>

                <div class="form-group">
                    <input class="btn btn-default btn-lg" style="width: 100%;" type="submit" class="btn btn-default" value="Save Log">
                </div>


				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>
