<section data-ng-controller="LogsController" data-ng-init="find()">
    <div class="listWrapper">
        <div class="page-header" ng-show="hidePublic">
            <h1>Logs</h1>
            <div class="pull-right">
                See what your fellow humans write about! <div class="btn btn-default" ng-click="togglePublic()"><i class="fa fa-users"></i> Public Ideas</div>
            </div>
            <br>
        </div>
        <div class="page-header" ng-hide="hidePublic">
            <h1>Logs</h1>
            <div class="pull-right">
                See just your own thoughts! <div class="btn btn-default" ng-click="togglePublic()"><i class="fa fa-user"></i> Personal Ideas</div>
            </div>
            <br>
        </div>
        <br>

        <div class="list-group" ng-show="hidePublic">
            <a data-ng-repeat="log in logs" data-ng-href="#!/logs/{{log._id}}" class="list-group-item col-lg-4" ng-show="{{(log.user._id === authentication.user._id)}}">
                <small class="list-group-item-text">
                    Posted on
                    <span data-ng-bind="log.created | date:'medium'"></span>
                    by
                    <span data-ng-bind="log.user.displayName"></span>
                </small>
                <h4 class="list-group-item-heading" data-ng-bind="log.name"></h4>
                <div class="" style="text-align: center;">
                    <span ng-if="log.physicContent.length > 0" class="physicBox globalPadding">{{log.physicContent.length}}</span>
                    <span ng-if="log.emotionContent.length > 0" class="emotionBox globalPadding">{{log.emotionContent.length}}</span>
                    <span ng-if="log.academicContent.length > 0" class="academicBox globalPadding">{{log.academicContent.length}}</span>
                    <span ng-if="log.communeContent.length > 0" class="communeBox globalPadding">{{log.communeContent.length}}</span>
                    <span ng-if="log.etherContent.length > 0" class="etherBox globalPadding">{{log.etherContent.length}}</span>
                </div>
            </a>
        </div>
        <div class="list-group" ng-hide="hidePublic">
            <a data-ng-repeat="log in logs" data-ng-href="#!/logs/{{log._id}}" class="list-group-item col-lg-4">
                <small class="list-group-item-text">
                    Posted on
                    <span data-ng-bind="log.created | date:'medium'"></span>
                    by
                    <span data-ng-bind="log.user.displayName"></span>
                </small>
                <div class="pull-right badge" ng-show="{{(log.user._id === authentication.user._id)}}">
                    My Log
                </div>
                <h4 class="list-group-item-heading" data-ng-bind="log.name"></h4>
                <div class="" style="text-align: center;">
                    <span ng-if="log.physicContent.length > 0" class="physicBox globalPadding">{{log.physicContent.length}}</span>
                    <span ng-if="log.emotionContent.length > 0" class="emotionBox globalPadding">{{log.emotionContent.length}}</span>
                    <span ng-if="log.academicContent.length > 0" class="academicBox globalPadding">{{log.academicContent.length}}</span>
                    <span ng-if="log.communeContent.length > 0" class="communeBox globalPadding">{{log.communeContent.length}}</span>
                    <span ng-if="log.etherContent.length > 0" class="etherBox globalPadding">{{log.etherContent.length}}</span>
                </div>
                <div style="text-align: center;">
                    <list-viz ng-hide="hidePublic"></list-viz>
                </div>
            </a>
        </div>
    <!--
        <div class="alert alert-warning text-center" data-ng-hide="!logs.$resolved || logs.length">
            No Logs yet, why don't you <a href="/#!/logs/create">create one</a>?
        </div>
    -->
    
    </div>
    
    <new-log-quick></new-log-quick>
    
    <div class="text-center footer">
        <div class="text-muted" style="padding: 10px; background: #303030; border: 2px solid #464545; border-left: none; border-right: none;box-shadow: 0px 0px 10px black;">
    	Remember to reflect every day! Why don't you <a ng-href="/#!/logs/create">create a new log entry now</a>?
        </div>
    </div>
</section>