<section data-ng-controller="LogsController" data-ng-init="findOne()">

    <div class="page-header">
        <h1 data-ng-bind="log.name"></h1>
    </div>
    <div class="row">
        <div class="col-lg-9">
        </div>
        <div class="col-lg-3" style="text-align: center;">
            <div data-ng-show="((authentication.user) && (authentication.user._id == log.user._id))">
                <a href="/#!/logs">
                    <div class="btn btn-default" style="width: 100%;" >
                        View my logs
                    </div>
                </a>
                <br>
                <br>
                <a class="btn btn-info" style="width: 100%;" href="/#!/logs/{{log._id}}/edit">
            			   <i class="fa fa-pencil-square"></i> Change
            		</a>
                <br>
                <br>
                <a class="btn btn-info" style="width: 100%;" data-ng-click="remove();">
            			   <i class="fa fa-trash"></i> Remove
            		</a>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 30px">
        <div class="col-12">
        </div>
    </div>

	<small data-ng-show="((authentication.user) && (authentication.user._id == log.user._id)) || log.privacy == 1">
		<em class="text-muted">
			Posted on
			<span data-ng-bind="log.created | date:'mediumDate'"></span>
      <br>
			by
			<span data-ng-bind="log.user.displayName"></span>
      <br>
      <span>
        <div ng-if="log.privacy === 0">
        This log is private.
        </div>
        <div ng-if="log.privacy === 1">
        This log is public.
        </div>
      </span>
		</em>
	</small>
      <div style="margin-top: 30px; margin-bottom: 100px;">

        <div class="row" data-ng-show="((authentication.user) && (authentication.user._id == log.user._id)) || log.privacy == 1">
          <div class="col-lg-9">
            <md-list-item class="md-3-line" ng-if="log.physicContentLength > 0">
              <div ng-if="log.physicContentLength > 0" class="physicBox md-list-item-text">
                <h3 style="color: gray;">Which decisions did you make?</h3>
                <p data-ng-bind="log.physicContent"><!-- Dynamic binding --></p>
              </div>
            </md-list-item>
            <md-divider ng-if="log.physicContentLength > 0"></md-divider>
            <md-list-item class="md-3-line" ng-if="log.emotionContentLength > 0">
              <div ng-if="log.emotionContentLength > 0" class="emotionBox md-list-item-text">
                <h3 style="color: gray;">How did you feel?</h3>
                <p data-ng-bind="log.emotionContent"><!-- Dynamic binding --></p>
              </div>
            </md-list-item>
            <md-divider ng-if="log.emotionContentLength > 0"></md-divider>
            <md-list-item class="md-3-line" ng-if="log.academicContentLength > 0">
              <div ng-if="log.academicContentLength > 0" class="academicBox md-list-item-text">
                <h3 style="color: gray;">What did you learn?</h3>
                <p data-ng-bind="log.academicContent"><!-- Dynamic binding --></p>
              </div>
            </md-list-item>
            <md-divider ng-if="log.academicContentLength > 0"></md-divider>
            <md-list-item class="md-3-line" ng-if="log.communeContentLength > 0">
              <div ng-if="log.communeContentLength > 0" class="communeBox md-list-item-text">
                <h3 style="color: gray;">Who did you care about?</h3>
                <p data-ng-bind="log.communeContent"><!-- Dynamic binding --></p>
              </div>
            </md-list-item>
            <md-divider ng-if="log.communeContentLength > 0"></md-divider>
            <md-list-item class="md-3-line" ng-if="log.etherContentLength > 0">
              <div ng-if="log.etherContentLength > 0" class="etherBox md-list-item-text">
                <h3 style="color: gray;">Why did this matter?</h3>
                <p data-ng-bind="log.etherContent"><!-- Dynamic binding --></p>
              </div>
            </md-list-item>
            <md-divider ng-if="log.etherContentLength > 0"></md-divider>
          </div>
        </div>

        <!--
        TODO: add something to do with all these neat analytics I'm getting now!
        <div class="" style="margin-top: 30px; margin-bottom: 100px;">
        </div>

        //http://www.myenglishpages.com/site_php_files/grammar-lesson-wh-questions.php

        -->

        <br>
        <br>

        <div class="row">
					<div class="col-lg-9" data-ng-show="((authentication.user) && (authentication.user._id == log.firstExperience.user)) || log.firstExperience.privacy == 1">

						<md-toolbar style="background: #8A9ABE; color: #222222; z-index: 0;">
							<div class="md-toolbar-tools">
								<h2 class="md-flex">Experience</h2>
							</div>
						</md-toolbar>
						<md-content layout-padding style="height: auto; max-height: 300px; padding: 24px; background: #333333">
								<h6 style="color: gray; text-align: right;">Remember, this is the experience this log is associated with.</h6>
								<md-list-item class="md-3-line">
									<div class="md-list-item-text">
										<br>
										<h3>
											<a data-ng-href="#!/experiences/{{log.firstExperience._id}}" style="line-height: 22px;">
												{{ log.firstExperience.name }}
											</a>
											<span style="color: #444444;">{{' ( Seconds - ' + log.firstExperience.seconds + ' )'}}</span>
										</h3>
										<p style="color: white;">
											{{ log.firstExperience.description}}.
										</p>
										<p style="color: gray;">
											Activity started on {{ log.firstExperience.created  | date:'mediumDate'}}.
										</p>

									</div>
								</md-list-item>
						</md-content>

					</div>
				</div>
      </div>

      <new-entry-quick></new-entry-quick>

    <div class="text-center footer">
        <div class="text-muted" style="padding: 10px; background: #303030; border: 2px solid #464545; border-left: none; border-right: none;box-shadow: 0px 0px 10px black;">
    	Just like a poem, these are the sections of your idea!
        </div>
    </div>
</section>
