<section data-ng-controller="LogsController" data-ng-init="findOne()">
	<div class="page-header">
        <h1 data-ng-bind="log.name"></h1>
    </div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == log.user._id))">
		<a class="btn btn-info" href="/#!/logs/{{log._id}}/edit">
			<i class="fa fa-pencil-square"></i>
		</a>
		<a class="btn btn-info" data-ng-click="remove();">
			<i class="fa fa-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="log.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="log.user.displayName"></span>
		</em>
	</small>
        <div class="row" style="margin-top: 30px; margin-bottom: 100px;">
            <div style="border: solid 3px #464545;" ng-if="log.physicContent.length > 0" id="physicBox" class="marginPaddingBox" data-ng-bind="log.physicContent"></div>
            <div style="border: solid 3px #464545;" ng-if="log.emotionContent.length > 0" id="emotionBox" class="marginPaddingBox" data-ng-bind="log.emotionContent"></div>
            <div style="border: solid 3px #464545;" ng-if="log.academicContent.length > 0" id="academicBox" class="marginPaddingBox" data-ng-bind="log.academicContent"></div>
            <div style="border: solid 3px #464545;" ng-if="log.communeContent.length > 0" id="communeBox" class="marginPaddingBox" data-ng-bind="log.communeContent"></div>
            <div style="border: solid 3px #464545;" ng-if="log.etherContent.length > 0" id="etherBox" class="marginPaddingBox" data-ng-bind="log.etherContent"></div>
        </div>
    
    <div class="pull-right">
        <a href="/#!/logs">
            <div class="btn btn-default">
                View all logs
            </div>
        </a>    
    </div>
<!--    <footer style="position:fixed; height:50px; background-color: lightGray; bottom:0px;  margin-bottom:0px;">-->
	</footer>
</section>
