<section data-ng-controller="LogsController" data-ng-init="findOne()">

    <div class="pull-right">
        <a href="/#!/logs">
            <div class="btn btn-default">
                View all logs
            </div>
        </a>
    </div>

    <div class="page-header">
        <h1 data-ng-bind="log.name"></h1>
    </div>

	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == log.user._id))">
		<a class="btn btn-info" href="/#!/logs/{{log._id}}/edit">
			<i class="fa fa-pencil-square"></i> Change
		</a>
		<a class="btn btn-info" data-ng-click="remove();">
			<i class="fa fa-trash"></i> Remove
		</a>
	</div>

	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="log.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="log.user.displayName"></span>
      <br>
      <span>
        <div ng-if="log.privacy === 0">
        This log is private.
        </div>
        <div ng-if="log.privacy === 1">
        This log is public.
        </div>
      </span>
		</em>
	</small>

        <div class="row" style="margin-top: 30px; margin-bottom: 100px;">
            <div style="border: solid 3px #464545;" ng-if="log.physicContentLength > 0" class="physicBox marginPaddingBox">
                <div data-ng-bind="log.physicContent"></div>
                <div style="float: right; margin-top: -20px; color: white; text-shadow: 1px 1px black" data-ng-bind="log.physicContentLength"></div>
            </div>
            <div style="border: solid 3px #464545;" ng-if="log.emotionContentLength > 0" class="emotionBox marginPaddingBox">
                <div data-ng-bind="log.emotionContent"></div>
                <div style="float: right; margin-top: -20px; color: white; text-shadow: 1px 1px black" data-ng-bind="log.emotionContentLength"></div>
            </div>
            <div style="border: solid 3px #464545;" ng-if="log.academicContentLength > 0" class="academicBox marginPaddingBox">
                <div data-ng-bind="log.academicContent"></div>
                <div style="float: right; margin-top: -20px; color: white; text-shadow: 1px 1px black" data-ng-bind="log.academicContentLength"></div>
            </div>
            <div style="border: solid 3px #464545;" ng-if="log.communeContentLength > 0" class="communeBox marginPaddingBox">
                <div data-ng-bind="log.communeContent"></div>
                <div style="float: right; margin-top: -20px; color: white; text-shadow: 1px 1px black" data-ng-bind="log.communeContentLength"></div>
            </div>
            <div style="border: solid 3px #464545;" ng-if="log.etherContentLength > 0" class="etherBox marginPaddingBox">
                <div data-ng-bind="log.etherContent"></div>
                <div style="float: right; margin-top: -20px; color: white; text-shadow: 1px 1px black" data-ng-bind="log.etherContentLength"></div>
            </div>
        </div>

        <new-log-quick></new-log-quick>
				<new-activity-quick></new-activity-quick>

    <div class="text-center footer">
        <div class="text-muted" style="padding: 10px; background: #303030; border: 2px solid #464545; border-left: none; border-right: none;box-shadow: 0px 0px 10px black;">
    	Just like a poem, these are the sections of your idea!
        </div>
    </div>

</section>
